/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: tan;
    color: #333;
    margin: 20px;
}

.logo-img {
    width: 150px;
    height: auto;
}

.content {
    display: flex;
    align-items: center;   /* Centers the image vertically with the text */
    justify-content: space-between;
    gap: 20px;             /* Space between text and image */
}

.text {
    flex: 1;               /* Allows the text to take up remaining space */
}

h1 {
    color: darkolivegreen;
    text-align:center
}

p {
    font-size: 16px;
}